.gitignore
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
Foundation/Activity_1_Resources/Activity_1_2023-1_Part_1.docx
Foundation/Activity_1_Resources/Activity_1_2023-1_Part_1.pdf
Foundation/Activity_1_Resources/Activity_1_2023-1_Part_2_Final.pdf
Foundation/Activity_1_Resources/Activity_1_2023-1_Part_2.docx
Foundation/Activity_1_Resources/Activity_1_2023-1_Part_3.docx
Foundation/Activity_1_Resources/Activity_1_2023-1_Part_3.pdf
Foundation/Activity_1_Resources/Activity_1_For_MacOS_users_(optional).docx
Foundation/Activity_1_Resources/hamburger.txt
Foundation/Activity_1_Resources/sample_utf8_modified.txt
Foundation/Activity_1_Resources/sample_utf8.txt
Foundation/Activity_1_Resources/01 HexEdit/HexEd4_0.msi
Foundation/Activity_1_Resources/01 HexEdit/hexedit.xml
Foundation/Activity_1_Resources/01 HexEdit/ReadMe.txt
Foundation/Activity_1_Resources/02 Pic/1.bmp
Foundation/Activity_1_Resources/02 Pic/1.gif
Foundation/Activity_1_Resources/02 Pic/2.bmp
Foundation/Activity_1_Resources/02 Pic/2.gif
Foundation/Activity_1_Resources/02 Pic/3.bmp
Foundation/Activity_1_Resources/02 Pic/3.gif
Foundation/Activity_1_Resources/02 Pic/4.bmp
Foundation/Activity_1_Resources/02 Pic/4.gif
Foundation/Activity_1_Resources/02 Pic/5.bmp
Foundation/Activity_1_Resources/02 Pic/5.gif
Foundation/Activity_1_Resources/02 Pic/6.bmp
Foundation/Activity_1_Resources/02 Pic/6.gif
Foundation/Activity_1_Resources/02 Pic/7.bmp
Foundation/Activity_1_Resources/02 Pic/7.gif
Foundation/Activity_1_Resources/02 Pic/8.bmp
Foundation/Activity_1_Resources/02 Pic/8.gif
Foundation/Activity_1_Resources/02 Pic/9.bmp
Foundation/Activity_1_Resources/02 Pic/9.gif
Foundation/Activity_1_Resources/02 Pic/10.bmp
Foundation/Activity_1_Resources/02 Pic/10.gif
Foundation/Activity_1_Resources/02 Pic/11.bmp
Foundation/Activity_1_Resources/02 Pic/11.gif
Foundation/Activity_1_Resources/02 Pic/12.bmp
Foundation/Activity_1_Resources/02 Pic/12.gif
Foundation/Activity_1_Resources/02 Pic/13.bmp
Foundation/Activity_1_Resources/02 Pic/13.gif
Foundation/Activity_1_Resources/02 Pic/14.bmp
Foundation/Activity_1_Resources/02 Pic/14.gif
Foundation/Activity_1_Resources/02 Pic/15.bmp
Foundation/Activity_1_Resources/02 Pic/15.gif
Foundation/Activity_1_Resources/02 Pic/16.bmp
Foundation/Activity_1_Resources/02 Pic/16.gif
Foundation/Activity_1_Resources/02 Pic/17.bmp
Foundation/Activity_1_Resources/02 Pic/17.gif
Foundation/Activity_1_Resources/02 Pic/18.bmp
Foundation/Activity_1_Resources/02 Pic/18.gif
Foundation/Activity_1_Resources/02 Pic/19.bmp
Foundation/Activity_1_Resources/02 Pic/19.gif
Foundation/Activity_1_Resources/02 Pic/20.bmp
Foundation/Activity_1_Resources/02 Pic/20.gif
Foundation/Activity_1_Resources/02 Pic/21.bmp
Foundation/Activity_1_Resources/02 Pic/21.gif
Foundation/Activity_1_Resources/02 Pic/22.bmp
Foundation/Activity_1_Resources/02 Pic/22.gif
Foundation/Activity_1_Resources/02 Pic/23.bmp
Foundation/Activity_1_Resources/02 Pic/23.gif
Foundation/Activity_1_Resources/02 Pic/24.bmp
Foundation/Activity_1_Resources/02 Pic/24.gif
Foundation/Activity_1_Resources/02 Pic/25.bmp
Foundation/Activity_1_Resources/02 Pic/25.gif
Foundation/Activity_1_Resources/02 Pic/26.bmp
Foundation/Activity_1_Resources/02 Pic/26.gif
Foundation/Activity_1_Resources/02 Pic/27.bmp
Foundation/Activity_1_Resources/02 Pic/27.gif
Foundation/Activity_1_Resources/02 Pic/28.bmp
Foundation/Activity_1_Resources/02 Pic/28.gif
Foundation/Activity_1_Resources/02 Pic/29.bmp
Foundation/Activity_1_Resources/02 Pic/29.gif
Foundation/Activity_1_Resources/02 Pic/30.bmp
Foundation/Activity_1_Resources/02 Pic/30.gif
Foundation/Activity_1_Resources/02 Pic/31.bmp
Foundation/Activity_1_Resources/02 Pic/31.gif
Foundation/Activity_1_Resources/02 Pic/32.bmp
Foundation/Activity_1_Resources/02 Pic/32.gif
Foundation/Activity_1_Resources/02 Pic/33.bmp
Foundation/Activity_1_Resources/02 Pic/33.gif
Foundation/Activity_1_Resources/02 Pic/34.bmp
Foundation/Activity_1_Resources/02 Pic/34.gif
Foundation/Activity_1_Resources/02 Pic/35.bmp
Foundation/Activity_1_Resources/02 Pic/35.gif
Foundation/Activity_1_Resources/02 Pic/36.bmp
Foundation/Activity_1_Resources/02 Pic/36.gif
Foundation/Activity_1_Resources/02 Pic/37.bmp
Foundation/Activity_1_Resources/02 Pic/37.gif
Foundation/Activity_1_Resources/02 Pic/38.bmp
Foundation/Activity_1_Resources/02 Pic/38.gif
Foundation/Activity_1_Resources/02 Pic/39.bmp
Foundation/Activity_1_Resources/02 Pic/39.gif
Foundation/Activity_1_Resources/02 Pic/40.bmp
Foundation/Activity_1_Resources/02 Pic/40.gif
Foundation/Activity_1_Resources/02 Pic/41.bmp
Foundation/Activity_1_Resources/02 Pic/41.gif
Foundation/Activity_1_Resources/02 Pic/42.bmp
Foundation/Activity_1_Resources/02 Pic/42.gif
Foundation/Activity_1_Resources/02 Pic/43.bmp
Foundation/Activity_1_Resources/02 Pic/43.gif
Foundation/Activity_1_Resources/02 Pic/44.bmp
Foundation/Activity_1_Resources/02 Pic/44.gif
Foundation/Activity_1_Resources/02 Pic/45.bmp
Foundation/Activity_1_Resources/02 Pic/45.gif
Foundation/Activity_1_Resources/02 Pic/46.bmp
Foundation/Activity_1_Resources/02 Pic/46.gif
Foundation/Activity_1_Resources/02 Pic/47.bmp
Foundation/Activity_1_Resources/02 Pic/47.gif
Foundation/Activity_1_Resources/02 Pic/48.bmp
Foundation/Activity_1_Resources/02 Pic/48.gif
Foundation/Activity_1_Resources/02 Pic/49.bmp
Foundation/Activity_1_Resources/02 Pic/49.gif
Foundation/Activity_1_Resources/02 Pic/50.bmp
Foundation/Activity_1_Resources/02 Pic/50.gif
Foundation/Activity_1_Resources/02 Pic/51.bmp
Foundation/Activity_1_Resources/02 Pic/51.gif
Foundation/Activity_1_Resources/02 Pic/52.bmp
Foundation/Activity_1_Resources/02 Pic/52.gif
Foundation/Activity_1_Resources/02 Pic/53.bmp
Foundation/Activity_1_Resources/02 Pic/53.gif
Foundation/Activity_1_Resources/02 Pic/54.bmp
Foundation/Activity_1_Resources/02 Pic/54.gif
Foundation/Activity_1_Resources/02 Pic/55.bmp
Foundation/Activity_1_Resources/02 Pic/55.gif
Foundation/Activity_1_Resources/02 Pic/56.bmp
Foundation/Activity_1_Resources/02 Pic/56.gif
Foundation/Activity_1_Resources/02 Pic/57.bmp
Foundation/Activity_1_Resources/02 Pic/57.gif
Foundation/Activity_1_Resources/02 Pic/58.bmp
Foundation/Activity_1_Resources/02 Pic/58.gif
Foundation/Activity_1_Resources/02 Pic/59.bmp
Foundation/Activity_1_Resources/02 Pic/59.gif
Foundation/Activity_1_Resources/02 Pic/60.bmp
Foundation/Activity_1_Resources/02 Pic/60.gif
Foundation/Activity_1_Resources/03 Part 3/7z.dll
Foundation/Activity_1_Resources/03 Part 3/auxlib.lua
Foundation/Activity_1_Resources/03 Part 3/fceux.cfg
Foundation/Activity_1_Resources/03 Part 3/fceux.chm
Foundation/Activity_1_Resources/03 Part 3/fceux.exe
Foundation/Activity_1_Resources/03 Part 3/lua5.1.dll
Foundation/Activity_1_Resources/03 Part 3/lua51.dll
Foundation/Activity_1_Resources/03 Part 3/taseditor.chm
Foundation/Activity_1_Resources/03 Part 3/fcs/Super Mario Bros. (Japan, USA).fc0
Foundation/Activity_1_Resources/03 Part 3/luaScripts/AVI-HeadsUpDisplay.lua
Foundation/Activity_1_Resources/03 Part 3/luaScripts/BoulderDash_AmoebaAI.lua
Foundation/Activity_1_Resources/03 Part 3/luaScripts/BugsBunnyBirthdayBlowout.lua
Foundation/Activity_1_Resources/03 Part 3/luaScripts/ButtonCount.lua
Foundation/Activity_1_Resources/03 Part 3/luaScripts/CustomLagIndicator_RvT.lua
Foundation/Activity_1_Resources/03 Part 3/luaScripts/Excitingbike-speedometeronly.lua
Foundation/Activity_1_Resources/03 Part 3/luaScripts/Excitingbike.lua
Foundation/Activity_1_Resources/03 Part 3/luaScripts/FRKfunctions.lua
Foundation/Activity_1_Resources/03 Part 3/luaScripts/Galaxian.lua
Foundation/Activity_1_Resources/03 Part 3/luaScripts/Gradius-BulletHell.lua
Foundation/Activity_1_Resources/03 Part 3/luaScripts/GUI-iup_button.lua
Foundation/Activity_1_Resources/03 Part 3/luaScripts/GUI-iup_example.lua
Foundation/Activity_1_Resources/03 Part 3/luaScripts/JumpingFCEUXWindow.lua
Foundation/Activity_1_Resources/03 Part 3/luaScripts/luabot_framework.lua
Foundation/Activity_1_Resources/03 Part 3/luaScripts/Luabot.lua
Foundation/Activity_1_Resources/03 Part 3/luaScripts/m_utils.lua
Foundation/Activity_1_Resources/03 Part 3/luaScripts/Machrider.lua
Foundation/Activity_1_Resources/03 Part 3/luaScripts/MegamanII-LaserEyes.lua
Foundation/Activity_1_Resources/03 Part 3/luaScripts/MemoryWatch.lua
Foundation/Activity_1_Resources/03 Part 3/luaScripts/Multitrack.lua
Foundation/Activity_1_Resources/03 Part 3/luaScripts/Multitrack2.lua
Foundation/Activity_1_Resources/03 Part 3/luaScripts/NightmareElmStreet-4Player.lua
Foundation/Activity_1_Resources/03 Part 3/luaScripts/PunchOutChallenge.lua
Foundation/Activity_1_Resources/03 Part 3/luaScripts/PunchOutStats.lua
Foundation/Activity_1_Resources/03 Part 3/luaScripts/PunchOutTraining.lua
Foundation/Activity_1_Resources/03 Part 3/luaScripts/RBIBaseball.lua
Foundation/Activity_1_Resources/03 Part 3/luaScripts/Registerfind(CheatSearch).lua
Foundation/Activity_1_Resources/03 Part 3/luaScripts/Rewinder.lua
Foundation/Activity_1_Resources/03 Part 3/luaScripts/shapedefs.lua
Foundation/Activity_1_Resources/03 Part 3/luaScripts/ShowPalette.lua
Foundation/Activity_1_Resources/03 Part 3/luaScripts/SMB-AreaScrambler.lua
Foundation/Activity_1_Resources/03 Part 3/luaScripts/SMB-CompetitionRecorder.lua
Foundation/Activity_1_Resources/03 Part 3/luaScripts/SMB-HitBoxes.lua
Foundation/Activity_1_Resources/03 Part 3/luaScripts/SMB-Jetpack.lua
Foundation/Activity_1_Resources/03 Part 3/luaScripts/SMB-Lives_HPDisplay.lua
Foundation/Activity_1_Resources/03 Part 3/luaScripts/SMB-Mouse.lua
Foundation/Activity_1_Resources/03 Part 3/luaScripts/SMB-Snow.lua
Foundation/Activity_1_Resources/03 Part 3/luaScripts/SMB2U.lua
Foundation/Activity_1_Resources/03 Part 3/luaScripts/SMB3-RainbowRiding.lua
Foundation/Activity_1_Resources/03 Part 3/luaScripts/SoundDisplay.lua
Foundation/Activity_1_Resources/03 Part 3/luaScripts/SoundDisplay2.lua
Foundation/Activity_1_Resources/03 Part 3/luaScripts/Subtitler.lua
Foundation/Activity_1_Resources/03 Part 3/luaScripts/TeenageMutantNinjaTurtles.lua
Foundation/Activity_1_Resources/03 Part 3/luaScripts/tetris.lua
Foundation/Activity_1_Resources/03 Part 3/luaScripts/UsingLuaBot-Documentation.txt
Foundation/Activity_1_Resources/03 Part 3/luaScripts/UsingLuaScripting-Documentation.txt
Foundation/Activity_1_Resources/03 Part 3/luaScripts/UsingLuaScripting-ListofFunctions.txt
Foundation/Activity_1_Resources/03 Part 3/luaScripts/vnb.lua
Foundation/Activity_1_Resources/03 Part 3/luaScripts/x_functions.lua
Foundation/Activity_1_Resources/03 Part 3/luaScripts/x_interface.lua
Foundation/Activity_1_Resources/03 Part 3/luaScripts/x_smb1enemylist.lua
Foundation/Activity_1_Resources/03 Part 3/luaScripts/ZapperDisplay.lua
Foundation/Activity_1_Resources/03 Part 3/luaScripts/ZapperFun.lua
Foundation/Activity_1_Resources/03 Part 3/luaScripts/taseditor/InvertSelection.lua
Foundation/Activity_1_Resources/03 Part 3/luaScripts/taseditor/RecordBackwards.lua
Foundation/Activity_1_Resources/03 Part 3/luaScripts/taseditor/ShowNotes.lua
Foundation/Activity_1_Resources/03 Part 3/luaScripts/taseditor/Swap1P2P.lua
Foundation/Activity_1_Resources/03 Part 3/luaScripts/taseditor/TrackNoise.lua
Foundation/Activity_1_Resources/03 Part 3/palettes/ASQ_realityA.pal
Foundation/Activity_1_Resources/03 Part 3/palettes/ASQ_realityB.pal
Foundation/Activity_1_Resources/03 Part 3/palettes/BMF_final2.pal
Foundation/Activity_1_Resources/03 Part 3/palettes/BMF_final3.pal
Foundation/Activity_1_Resources/03 Part 3/palettes/FCEU-13-default_nitsuja.pal
Foundation/Activity_1_Resources/03 Part 3/palettes/FCEU-15-nitsuja_new.pal
Foundation/Activity_1_Resources/03 Part 3/palettes/FCEUX.pal
Foundation/Activity_1_Resources/03 Part 3/palettes/nestopia_rgb.pal
Foundation/Activity_1_Resources/03 Part 3/palettes/nestopia_yuv.pal
Foundation/Activity_1_Resources/03 Part 3/roms/Super Mario Bros. (Japan, USA).nes
Foundation/Activity_1_Resources/03 Part 3/roms/Super Mario Bros. (Japan, USA).nes.deb
Foundation/Activity_1_Resources/03 Part 3/tools/taseditor_patterns.txt
Foundation/Activity 5/Part3.zip
Foundation/Activity 5/Part4.zip
Foundation/FinalProject/app.js
Foundation/FinalProject/index.html
Foundation/FinalProject/style.css
Foundation/FinalProject/test.html
